<form>
  <div class="form-group">
    <div class="container mt-5"></div>
    <label for="title">Blog Title</label>
    <textarea class="form-control" name="title" id="title" rows="1">Enter title here...</textarea>
  </div>
  <div class="form-group">
    <label for="content">Blog Content</label>
    <textarea class="form-control" name="content" id="content" rows="5">Enter content here...</textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="new-post">Add Blog</button>
  <div>
</form>
<form>
    {{#each posts as |post|}}
    <div>
      <h3>{{post.title}}</h3>
      <span class="small-text"><a href=`/{{post.id}}`>Edit Blog</a></span>
      <p>{{post.content}}</p>
      <div>
        <p class="para">{{post.content}}</p>
        <p class="small-text">Written by {{user.username}} on {{formatDate created_at}}</p>
      </div>
    </div>
    {{#each post.comments as |comment|}}
    <div>
      <p>{{comment.content}}</p>
      <p>{{comment.user.username}} on {{formatDate created_at}}</p>
    </div>
    {{/each}}
  </div>
  <div>
    {{#each posts as |post|}}
    <div class="divider">
      <h4>{{post.title}}</h4>
      <span class="small-text"><a href=`{{post.user_id}}`>View Blog</a></span>
      <div>
        <p class="para">{{post.content}}</p>
        <p class="small-text">Written by {{user.username}} on {{formatDate created_at}}</p>
      </div>
    </div>
    {{/each}}
  </div>

  {{/each}}
  </div>
</form>
<script src="./js/dashboard.js"></script>