
<div>    
    <h>Welcome!</h2>
    <div>
      {{#each posts as |blogPost|}}
        <div>
          <h3>{{blogPost.title}}</h3>
          <p>{{blogPost.content}}</p>
          <p>Written by {{BlogPost.user.username}}</p>
        </div>
      {{!-- {{#each blogPost.comments as |comment|}}
        <div>
          <p>{{comment.comment_content}}</p>
          <p>Commentator: {{comment.user.username}}</p>
        </div> --}}
      {{/each}}
    </div>
    {{!-- {{#if logged_in}}
      <a href="/edit/{{id}}">Edit</a>
      <a href="/delete/{{id}}">Delete</a>
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/login">Login</a>
    {{/if}} --}}
  {{!-- {{/each}} --}}
</div>