<div>
  {{#each posts as |post|}}
  <div>
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <p>Written by {{user.username}}</p>
    <p>Created at: {{formatDate created_at}}</p>
  </div>
  {{#each post.comments as |comment|}}
  <div>
    <p>{{comment.content}}</p>
    <p>Commentator: {{comment.user.username}}</p>
  </div>
  {{/each}}
</div>
{{/each}}
</div>