{{!-- single-post --}}
<form>
  <div class="form-group">
    <b><input class="form-control" id="update-title" rows="1" value="{{post.title}}"></input></b>


    <input class="form-control" id="update-content" rows="5" value="{{post.content}}"></input>
  </div>
  <i>
    <p class="small-text">Written by {{post.user.username}} on {{formatDate created_at}}</p>
  </i>
  {{!-- Blog editing options --}}
  {{#if logged_in}}
  <button type="submit" class="btn btn-primary" id="update-post" data-id="{{post.id}}">Update Blog</button>
  <button type="submit" class="btn btn-primary" id="delete-post" data-id="{{post.id}}">Delete Blog</button>
  {{/if}}


  {{!-- comment section --}}
  {{#each post.comments as |comment|}}
  <p class="comment-text para" id="content" rows="1">{{comment.content}}</p>
  <i>
    <p class="small-text">{{comment.user.username}} on {{formatDate created_at}}</p>
  </i>
  {{/each}}

  {{#if logged_in}}
  <textarea name="comment" class="form-control para" id="new-comment" rows="2" placeholder="Comment here..."></textarea>
  <div>
  <button class="btn btn-primary para" id="add-comment" data-id="{{post.id}}">Add Comment</button>
  </div>
  {{else}}
  <div>
  <p>Please log in to leave a comment!</p>
  </div>
  {{/if}}
</form>



<script src="/js/single-post.js"></script>