{{!-- single-post --}}
<form>
  <div class="form-group">
      <b><input class="form-control" name="title" id="title" rows="1" value="{{post.title}}"></input></b>


    <input class="form-control" name="content" id="content" rows="5" value="{{post.content}}"></input>
  </div>
  <i><p class="small-text">Written by {{post.user.username}} on {{formatDate created_at}}</p></i>
{{!-- Blog editing options --}}
  {{#if (eq post.user.id user.id)}}
  <button type="submit" class="btn btn-primary" id="update-post" data-id="{{post.id}}">Update Blog</button>
  <button type="submit" class="btn btn-primary" id="delete-post" data-id="{{post.id}}">Delete Blog</button>
  {{/if}}


{{!-- comment section --}}
  {{#each post.comments as |comment|}}
  <p class="comment-text para" name="title" id="content" rows="1">{{comment.content}}</p>
  <i><p class="small-text">{{comment.user.username}} on {{formatDate created_at}}</p></i>
<a href="/api/comment/{{post.comment.id}}" class="small-text view-comment" data-id="{{post.comment.id}}">View Comment</a>
  {{/each}}
</form>



<script src="/js/single-post.js"></script>